<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sponsorship Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>

    </style>

</head>

<body style="margin: 0; padding: 0;font-family: 'Open Sans', sans-serif;background:#ffffff" background="bg.png"
    id='1234'>
    <table class="content" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <table class="content" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" bgcolor="" style="padding: 15px 0 15px 0;background:#27282A">
                    <!--#6d1101-->

                    <img src="https://raw.githubusercontent.com/samjain233/renaissance/main/renlogo52.png" width="550"
                        style="display: block;" />
                    <p style="text-align: center;padding: 0;margin: 0; color: rgb(223, 253, 253); ">10th-11th Febraury
                        2024
                    </p>

                </td>

            </tr>

            <!--<div class="hero-image">-->
            <tr>

                <td bgcolor="" style="padding:10px 30px 40px 30px; background:  #eeeeee ;">
                    <!--<img src="file:///C:/Users/HP/Downloads/Ecell_logosvg-01.svg" alt="" style="width:200px; height:auto;"-->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                        style="font-size:16px;border-collapse:collapse;color: rgb(34, 29, 29); ">

                        <tr>
                            <td align="center" style="font-size: xx-large;">
                                <br>
                                <img style="width: 150px;"
                                    src="https://www.pngall.com/wp-content/uploads/8/Email-Verification.png" alt="">
                                <br>
                                <br>
                                THANKS FOR SIGNING UP,
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size: x-large;">
                                <%=username%>!
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 20px 0 30px 0;">
                                You're almost ready to get started. Please click on the button below to verify your
                                email address and enjoy exclusive events with us!
                            </td>
                        </tr>

                        <tr>
                            <td align="center" style="padding: 10px 0px 0px 0; font-size: larger;" bgcolor="">
                                <br>
                                <a href=<%=link%> style="text-decoration:none;padding:10px
                                    20px;background-color:#27282A;color:rgb(255, 255, 255);border-radius:5px">VERIFY
                                    YOUR EMAIL</a><br>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <br><br><br>

                                See you soon in Events! <br>
                                With warm regards<br>
                                Team E-cell MNNIT.<br>
                                </p>
                            </td>
                        </tr>

                    </table>
            </tr>

            </tr>
            <tr>
                <td bgcolor="#ededed">
                    <div style="margin-top:-96px">
                        <br><br>
                        <p style="text-align: center; color: rgb(61, 58, 58); ">For official updates follow us on:</p>
                        <table align="center">
                            <tr>
                                <td align="center">
                                    <a href="https://www.facebook.com/mnnitecell" target="_blank"
                                        title="our Facebook page"><img
                                            src="https://4.bp.blogspot.com/-gDXKOlV0GNE/WI2UTLnZUkI/AAAAAAAABtA/r77ovtSRmkc_3o11_PF7YMj79GGcCBT6gCLcB/s1600/facebook.png"
                                            alt=""></a>
                                </td>
                                <td align="center">
                                    <a href="https://twitter.com/ECellMNNIT" target="_blank"
                                        title="our Twitter page"><img
                                            src="https://1.bp.blogspot.com/-7XA0OzO5ijw/WI2UTg0vi8I/AAAAAAAABtI/hYi2M9UgiaMOgCopO2XhkGMLs6sTyCE4wCLcB/s1600/twitter.png"
                                            alt=""></a>
                                </td>
                                <td align="center">
                                    <a href="https://www.linkedin.com/company/13249340" target="_blank"
                                        title="our Linkedin page"><img
                                            src="https://4.bp.blogspot.com/-jc9rSHdggDA/WI2UTNIYLvI/AAAAAAAABs8/_Qfpp_VdW4kf19rn-PekNRnmxYQPfbaWgCLcB/s1600/linkedin.png"
                                            alt=""></a>
                                </td>
                                <td align="center">
                                    <a href="https://www.instagram.com/ecellmnnit/" target="_blank"
                                        title="our Instagram page"><img
                                            src="https://3.bp.blogspot.com/-NXTO-YSI2c0/WI2USzivNOI/AAAAAAAABtE/hH6QqZ73R90qXFLlBTfMI77O_N18Ard1wCLcB/s1600/instagram.png"
                                            alt=""></a>
                                </td>
                            </tr>
                        </table>
        </table>
        </td>
        </tr>

        <tr bgcolor="#ededed">
            <td align="center" style="padding: 10px 0 10px 0;background:#27282A; color: rgb(223, 253, 253); ">
                Please ignore if this email is not related to you!<br>
                NOTE: In case of any queries please contact our team immediately at <a
                    href="mailto:renaissance@mnnit.ac.in"
                    style="text-decoration:none;color:rgb(0, 255, 255)">renaissance@mnnit.ac.in</a>
                <hr>
            </td>

        </tr>
        </div>
        <table class="content" align="center" border="0" cellpadding="0" cellspacing="0" width="600">

            <tr style="background:#27282A" bgcolor="">
                <td style="padding: 20px 0 10px 20px;color: rgb(223, 253, 253)">
                    Regards<br>Team
                    <a href="https://renaissance.ecellmnnit.com" target="_blank"
                        style="text-decoration:none;color:rgb(0, 255, 255)"> Renaissance 2024</a><br>
                    MNNIT Allahabad, 211004, UP, India<br>
                    <a href="https://renaissance.ecellmnnit.com" target="_blank"
                        style="text-decoration:none;color:rgb(0, 255, 255)">https://renaissance.ecellmnnit.com</a>
                </td>
            </tr>
        </table>
        </div>
    </table>

</body>

</html>